@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@500&display=swap');
.flex {
    display: flex;
    justify-content: row;
    align-items: center;
}

.button{

    width: 33%;
    color: white;
    background-color: #023047;
    text-align: center;
    
}
.button:hover{
    background-color: #219EBC;
}
.top{
    height: 50px;
    position: fixed;
    margin-top: 0%;
}
header{
    background-color: #023047;
    width: 100%;
    color: white;
    margin: auto;
}
.moon{
    background-image: url("../img/moon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    color: white;
    width: 100%;
    height: 1564px;
}
.body{
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
    font-size: 15px;
}
.body-center{
    background-color: #8ecae6 ;
    border: 5px solid ;
    border-color: #023047;
    border-radius: 10px;
    
}
.h1{
    font-size: 40px;
    margin-left: 30%;
    color: black;
}
.text{
    margin-left: 30%;
    color: black;
}
.button2{
    margin-left:30%;
    background-color: #023047;
    color: white;
}
.body2{
    margin:10 px;
    flex-wrap: wrap;
}
.img1{

    width: 25%;
    margin: 10px;
    margin-top: 15%;
    margin-left: 10%;
}
.img2{

    width: 25%;
    margin: 10px;
    margin-top: 15%;
}
.img3{

    width: 25%;
    margin: 10px;
    margin-top: 15%;
}
.img4{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10%;
}
.img5{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
}
.img6{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
}
.img7{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10%;
}
.img8{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
}
.img9{

    width: 25%;
    margin: 10px;
    margin-top: 10px;
}
.body-center2{
    background-color: #8ecae6 ;
    border: 5px solid ;
    border-color: #023047;
    border-radius: 10px;
    margin-left: 40%;
    color: black;
}
.h2{
    size: 40px;
}
input{
    border: 3px solid;
    border-color: #023047;
    border-radius: 9px;
}
@media screen and (max-width: 575px) {
    .flex{
        flex-direction: column;
    }
    .header{
        text-align: center;
        height: 25%;
    }
    .button{
        width: 100%;
        height: 20px;
        margin-bottom: 20pxs;
    }
    .h1{
        font-size: 15px;
    }
}